<div class="container">
    <div class="card user-app" *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner" style="font-size: 4rem"></i>
    </div>
    <div class="card" *ngIf="!isLoading">
        <p-tabView [(activeIndex)]="index" (onChange)="clickTab(index)">
            <p-tabPanel header="Gross Salary">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="basic">BASIC</label>
                        <input id="basic" type="number" pInputText [(ngModel)]="basic" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="hra">HRA</label>
                        <input id="hra" type="number" pInputText [(ngModel)]="hra" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="transport">TRANSPORT ALLOWANCE</label>
                        <input id="transport" type="number" pInputText [(ngModel)]="transport" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="adhocAllowance">ADHOC ALLOWANCE \ PERSONAL ALLOWANCE</label>
                        <input id="adhocAllowance" type="number" pInputText [(ngModel)]="adhocAllowance" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="otherAllowance">MISC. ALLOWANCE \ OTHER ALLOWANCE</label>
                        <input id="otherAllowance" type="number" pInputText [(ngModel)]="otherAllowance" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="nsa">NSA</label>
                        <input id="nsa" type="number" pInputText [(ngModel)]="nsa" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="meals">MEALS ALLOWANCE</label>
                        <input id="meals" type="number" pInputText [(ngModel)]="meals" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="variable">VARIABLE PAY</label>
                        <input id="variable" type="number" pInputText [(ngModel)]="variable" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="onCallAllowance">ON CALL ALLOWANCE</label>
                        <input id="onCallAllowance" type="number" pInputText [(ngModel)]="onCallAllowance" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="giftVoucher">GIFT VOUCHER</label>
                        <input id="giftVoucher" type="number" pInputText [(ngModel)]="giftVoucher" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="lta">LTA</label>
                        <input id="lta" type="number" pInputText [(ngModel)]="lta" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="statBonus">STAT BONUS</label>
                        <input id="statBonus" type="number" pInputText [(ngModel)]="statBonus" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="prevIncome">PREV EMP SALARY / ANY ONETIME INCOME</label>
                        <input id="prevIncome" type="number" pInputText [(ngModel)]="prevIncome" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="grossSalary">GROSS SALARY</label>
                        <input id="grossSalary" type="number" pInputText [disabled]="disabled" [(ngModel)]="grossSalary"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Total Exemptions">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="ltaExempt">LTA</label>
                        <input id="ltaExempt" type="number" pInputText [(ngModel)]="ltaExempt" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="rentPaid">Rent PAID / year</label>
                        <input id="rentPaid" type="number" pInputText [(ngModel)]="rentPaid" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="hraExempt">HRA Exempt</label>
                        <input id="hraExempt" type="number" pInputText [(ngModel)]="hraExempt" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="transportExempt">TRANSPORT ALLOWANCE</label>
                        <input id="transportExempt" type="number" pInputText [(ngModel)]="transportExempt" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="leaveEncash">LEAVE ENCASHMENT</label>
                        <input id="leaveEncash" type="number" pInputText [(ngModel)]="leaveEncash" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="totalExemp">TOTAL EXEMPTIONS</label>
                        <input id="totalExemp" type="number" pInputText [disabled]="disabled" [(ngModel)]="totalExemp"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Section 16 deduction">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="standardDeduct">STANDARD DEDUCTION</label>
                        <input id="standardDeduct" type="number" pInputText [disabled]="disabled" [(ngModel)]="standardDeduct"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="profTax">PROFESSIONAL TAX</label>
                        <input id="profTax" type="number" pInputText [(ngModel)]="profTax"  (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="prevPT">PREV PT</label>
                        <input id="prevPT" type="number" pInputText [(ngModel)]="prevPT" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="salAfterSec16">SALARY AFTER SEC. 16</label>
                        <input id="salAfterSec16" type="number" pInputText [disabled]="disabled" [(ngModel)]="salAfterSec16"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Other Incomes">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="lossSelfProperty">Loss from Self Occupied Property</label>
                        <input id="lossSelfProperty" type="number" pInputText [(ngModel)]="lossSelfProperty" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="incomeProperty">Income / Loss from Letout Property</label>
                        <input id="incomeProperty" type="number" pInputText [(ngModel)]="incomeProperty" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="otherIncome">INCOME FROM OTHER SOURCES</label>
                        <input id="otherIncome" type="number" pInputText [(ngModel)]="otherIncome" (change)="everyChange(index)"/>
                    </div>                    
                    <div class="p-field p-col-3">
                        <label for="grossTotIncome">GROSS TOTAL INCOME</label>
                        <input id="grossTotIncome" type="number" pInputText [disabled]="disabled" [(ngModel)]="grossTotIncome"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="80C Deduction">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="pf">PF</label>
                        <input id="pf" type="number" pInputText [(ngModel)]="pf" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="vpf">VPF</label>
                        <input id="vpf" type="number" pInputText [(ngModel)]="vpf" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="ppf">PPF</label>
                        <input id="ppf" type="number" pInputText [(ngModel)]="ppf" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="nsc">NSC</label>
                        <input id="nsc" type="number" pInputText [(ngModel)]="nsc" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="ctd">CTD</label>
                        <input id="ctd" type="number" pInputText [(ngModel)]="ctd" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="hsgLoan">HSG LOAN REPAY (PRIN)</label>
                        <input id="hsgLoan" type="number" pInputText [(ngModel)]="hsgLoan" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="tutionFee">TUITION FEE</label>
                        <input id="tutionFee" type="number" pInputText [(ngModel)]="tutionFee" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="elss">ELSS</label>
                        <input id="elss" type="number" pInputText [(ngModel)]="elss" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="lic">LIFE INSURANCE PREMIUM</label>
                        <input id="lic" type="number" pInputText [(ngModel)]="lic" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="ulip">ULIP</label>
                        <input id="ulip" type="number" pInputText [(ngModel)]="ulip" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="annuityPlan">ANNUITY PLAN</label>
                        <input id="annuityPlan" type="number" pInputText [(ngModel)]="annuityPlan" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="pension80CCC">PENSION FUND U/S 80CCC</label>
                        <input id="pension80CCC" type="number" pInputText [(ngModel)]="pension80CCC" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="prevPF">PREV PF</label>
                        <input id="prevPF" type="number" pInputText [(ngModel)]="prevPF" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="fixedDeposit">FIXED DEPOSIT</label>
                        <input id="fixedDeposit" type="number" pInputText [(ngModel)]="fixedDeposit" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="sukanyaSamriddhi">SUKANYA SAMRIDDHI ACCOUNT</label>
                        <input id="sukanyaSamriddhi" type="number" pInputText [(ngModel)]="sukanyaSamriddhi" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="nps">NATIONAL PENSION SCHEME 80CCD1</label>
                        <input id="nps" type="number" pInputText [(ngModel)]="nps" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="totalInvestment">TOTAL INVESTMENT</label>
                        <input id="totalInvestment" type="number" pInputText [disabled]="disabled" [(ngModel)]="totalInvestment"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="totalDeduct">TOTAL DEDUCTION</label>
                        <input id="totalDeduct" type="number" pInputText [disabled]="disabled" [(ngModel)]="totalDeduct"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Deduction under Chapter VI-A">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="medicalInsurance">80-D Medical insurance premium paid for Self / Spouse / Children</label>
                        <input id="medicalInsurance" type="number" pInputText [(ngModel)]="medicalInsurance" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="medicalInsuranceParent">80-D Medical insurance premium paid for Parent</label>
                        <input id="medicalInsuranceParent" type="number" pInputText [(ngModel)]="medicalInsuranceParent" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="handicap">80DD - Handicapped Dependent</label>
                        <input id="handicap" type="number" pInputText [(ngModel)]="handicap" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="medicalDisease">80DDB - Deduction for medical treatment for specified Diseases</label>
                        <input id="medicalDisease" type="number" pInputText [(ngModel)]="medicalDisease" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="educationLoan">80E - Interest on Education loan</label>
                        <input id="educationLoan" type="number" pInputText [(ngModel)]="educationLoan" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="phyDisable">80U - PERMANENT PHYSICAL DISABILITY FOR SELF</label>
                        <input id="phyDisable" type="number" pInputText [(ngModel)]="phyDisable" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="homeLoan">ADDITIONAL DEDUCTION ON HOME LOAN INTEREST U/S80EE</label>
                        <input id="homeLoan" type="number" pInputText [(ngModel)]="homeLoan" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="nps80CCD1B">NATIONAL PENSION SCHEME 80CCD1B</label>
                        <input id="nps80CCD1B" type="number" pInputText [(ngModel)]="nps80CCD1B" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="nps80CCD2">NATIONAL PENSION SCHEME 80CCD(2)</label>
                        <input id="nps80CCD2" type="number" pInputText [(ngModel)]="nps80CCD2" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="additionalHomeLoan">ADDITIONAL DEDUCTION ON HOME LOAN INT U/S80EEA</label>
                        <input id="additionalHomeLoan" type="number" pInputText [(ngModel)]="additionalHomeLoan" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="elecVehicle">INT ON ELECTRIC VEHICLE LOAN U/S 80EEB</label>
                        <input id="elecVehicle" type="number" pInputText [(ngModel)]="elecVehicle" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="otherDeduct4A">OTHER DEDUCTIONS UNDER CHAPTER VI-A</label>
                        <input id="otherDeduct4A" type="number" pInputText [disabled]="disabled" [(ngModel)]="otherDeduct4A"/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Tax Payable">
                <div class="p-grid">
                    <div class="p-field p-col-3">
                        <label for="totalTaxIncome">TOTAL TAXABLE INCOME</label>
                        <input id="totalTaxIncome" type="number" pInputText [disabled]="disabled" [(ngModel)]="totalTaxIncome"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="taxOnIncome">TAX ON TOTAL INCOME</label>
                        <input id="taxOnIncome" type="number" pInputText [disabled]="disabled" [(ngModel)]="taxOnIncome"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="taxAfterRebate">TAX AFTER REBATE</label>
                        <input id="taxAfterRebate" type="number" pInputText [disabled]="disabled" [(ngModel)]="taxAfterRebate"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="surcharge">SURCHARGE</label>
                        <input id="surcharge" type="number" pInputText [disabled]="disabled" [(ngModel)]="surcharge"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="cess">HEALTH AND EDU. CESS 4%</label>
                        <input id="cess" type="number" pInputText [disabled]="disabled" [(ngModel)]="cess"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="annualTaxLiability">VII ANNUAL TAX LIABILITY</label>
                        <input id="annualTaxLiability" type="number" pInputText [disabled]="disabled" [(ngModel)]="annualTaxLiability"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="taxTillLastMonth">TAX DEDUCTED TILL LAST MONTH</label>
                        <input id="taxTillLastMonth" type="number" pInputText [(ngModel)]="taxTillLastMonth" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="taxPrevEmployer">TAX FROM PREV EMPLOYER</label>
                        <input id="taxPrevEmployer" type="number" pInputText [(ngModel)]="taxPrevEmployer" (change)="everyChange(index)"/>
                    </div>
                    <div class="p-field p-col-3">
                        <label for="taxPayable">TAX PAYABLE</label>
                        <input id="taxPayable" type="number" pInputText [disabled]="disabled" [(ngModel)]="taxPayable"/>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="btn" *ngIf="!isLoading">
        <p-button (click)="openPrev()">Previous</p-button>
        <p-button (click)="openNext()">Next</p-button>
        <p-button (click)="viewReport()" [disabled]="index != 6 && taxPayable == 0">View Report</p-button>
    </div>
</div>